@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
  --fonte-padrao: "Sriracha";
  --fonte-tema: "Passion One", cursive;
  --fonte-milton: "Verdana", cursive;
}

body {
  margin: 0px;
}

header > h1 {
  color: white;
  padding-top: 50px;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: var(--fonte-tema);
  font-size: 136px;
  font-weight: bold;
}

header > p {
  color: white;
  padding: 0px 0px 50px 0px;
  background-color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--fonte-milton);
  font-size: 16px;
}

span {
    font-size: 96.4px;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
}

section > p {
  font-family: var(--fonte-padrao);
  font-size: 47.8px;
  line-height: 2em;
}

#s1 > p {
  padding-bottom: 2em;
  margin: 0px;
}

#s2 {
  background-color: black;
  background-image: url("imagens/background001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#s2 > p {
  max-height: 660px;
  max-width: 565px;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  margin: 0px;
  padding: 5px;
}

#s3 > p {
    margin: 0px;
    padding-bottom: 2em;
  }

#s4 {
  background-color: black;
  background-image: url("imagens/background002.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#s4 > p {
  max-height: 660px;
  max-width: 570px;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  margin: 0px;
  padding: 5px;
}

#s5 > p {
  margin: 0px;
  padding-bottom: 2em;
}

a {
   color: white;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
  background-color: black;
  padding: 10px;
}

footer > p {
  color: white;
  margin: 0px;
  text-align: center;
  font-family: var(--fonte-milton);
}
